<section id="change-password-container"
         class="body-row-color">
    <div class="container">
        <div class="sub-container"
             ng-controller="ChangePasswordCtrl">

            <div id="error-messages" ng-repeat="error in model.errorMessages">
                <h5 id="error-message"
                    class="text-center error-message">
                    {{error}}
                </h5>
            </div>

            <h2 class="text-center" ng-show="model.showProgress">{{ 'CHANGE_PASSWORD_PROGRESS' | translate }}</h2>

            <form id="change-password-form"
                  name="changePasswordForm"
                  class="text-center"
                  ng-hide="model.showProgress"
                  ng-submit="submit()">
                <fieldset class="login-fields text-center">

                    <div class="inline-block mobile-full">
                        <label for="new-password">
                            {{ 'CHANGE_PASSWORD_FORM_NEW' | translate }}
                        </label>
                        <input id="new-password"
                               autofocus="true"
                               name="password"
                               type="text"
                               size="13"
                               autocomplete="off"
                               autocorrect="off"
                               autocapitalize="off"
                               ng-model="model.password">
                    </div>

                    <div class="inline-block mobile-full">
                        <label for="new-password-repeat">
                            {{ 'CHANGE_PASSWORD_FORM_REPEAT' | translate }}
                        </label>
                        <input id="new-password-repeat"
                               name="passwordRepeat"
                               type="text"
                               size="13"
                               autocomplete="off"
                               autocorrect="off"
                               autocapitalize="off"
                               ng-model="model.passwordRepeat">
                    </div>

                    <div class="inline-block mobile-full">
                    <input id="submit"
                           class="button"
                           type="submit"
                           value="{{ 'CHANGE_PASSWORD_FORM_CHANGE_BUTTON' | translate }}"
                           ng-disabled="formInvalid()"/>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</section>
